header {
  border-bottom-style: solid;
}

body {
  margin: auto;
  max-width: 50em;
  font-family: serif;
}

h1 a {
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  background-color: rgb(220,220,220)
}