{% extends "layout.html" %}

{% block title %}Latest reviews{% endblock %}

{% block content %}

  {% for review in reviews %}
    <p>
      {{ review[5] }}{% if review[6] != None %}, edited at {{ review[6] }}{% endif %}: <br />
      <a href="/{{ review[7] }}">{{ review[1] }}</a> gave
      <a href="/{{ review[3] }}/{{ review[2] }}" style="text-transform: uppercase">{{ review[3] }} - {{ review [2]}}</a>
      a grade of
      <a href="/{{ review[3] }}/{{ review[2] }}/{{ review[0] }}">{{ review[4] }}/5</a>
    </p>
  {% endfor %}
  {% if page_count > 1 %}
  <div id="pagination">
    <p>
      <form action="/" method="post">
        <input type="submit" value="&lt;" />
        <input type="hidden" name="page" value="{{ page - 1 }}" />
      </form>
      Page {{ page }}/{{ page_count}}
      <form action="/" method="post">
        <input type="submit" value="&gt;" />
        <input type="hidden" name="page" value="{{ page + 1 }}" />
      </form>
    </p>
  </div>
  {% endif %}

{% endblock %}