{% extends "layout.html" %}

{% block title %}Latest reviews{% endblock %}

{% block content %}

  {% for review in reviews %}
    <p>
      {{ review[5] }}{% if review[6] != None %}, edited at {{ review[6] }}{% endif %}: <br />
      <a href="/{{ review[7] }}">{{ review[1] }}</a> gave
      <a href="/{{ review[3] }}/{{ review[2] }}" style="text-transform: uppercase">{{ review[3] }} - {{ review [2]}}</a>
      a
      <a href="/{{ review[3] }}/{{ review[2] }}/{{ review[0] }}">grade of {{ review[4] }}</a>
    </p>
  {% endfor %}

{% endblock %}