<!DOCTYPE html>
<html>

<head>
  <title>Album Reviews</title>
</head>

<body>
  <h1><a href="/">Album Reviews</a></h1>
  {% if session.username %}
  <p>
    You are logged in as <a href="/{{ session.user_id}}">{{ session.username }}</a>
  </p>
  {% endif %}

  <p>
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
    <a href="/logout">Log out</a>
    <a href="/albumsearch">Search albums</a>
  </p>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  <h2>{% block title %}{% endblock %}</h2>

  {% block content %}{% endblock %}
</body>

</html>
