<!DOCTYPE html>
<html>

<head>
  <title>Album Reviews</title>
  <link rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <header>
    <h1><a href="/">Album Reviews</a></h1>

    <nav>
      <ul>
        <li><a href="/albumsearch">Search albums</a></li>
        <li><a href="/usersearch">Search users</a></li>
        {% if session.username %}
        <li><a href="/new_album">Add a new album</a></li>
        {% endif %}
      </ul>
      <ul>
        {% if not session.username %}
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Register</a></li>
        {% endif %}
        {% if session.username %}
        <li>You are logged in as <a href="/{{ session.user_id}}">{{ session.username }}</a></li>
        <li><a href="/logout">Log out</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  <div class="main">
  <h2>{% block title %}{% endblock %}</h2>

  {% block content %}{% endblock %}
  </div>
</body>

</html>
