{% extends "layout.html" %}

{% block title %}Search albums{% endblock %}

{% block content %}
<form action="/albumsearch" method="post">
  <p>
    <label for="album">Album title</label>: <br />
    <input type="text" name="album" id="album" value="{{ filled.album }}" maxlength="1000" />
  </p>
  <p>
    <label for="artist">Artist</label>: <br />
    <input type="text" name="artist" id="artist" value="{{ filled.artist }}" maxlength="1000" />
  </p>
  <p>
    <label for="genre">Genre</label>: <br />
    <input type="text" name="genre" id="genre" value="{{ filled.genre }}" maxlength="1000" />
  </p>
  <p>
    <label for="year">Release year</label>: <br />
    <input type="text" name="year" id="year" size="8" value="{{ filled.year }}" pattern="[0-9]{4}" />
  </p>
  <input type="submit" value="Search" />
</form>
{% if results != None %}
  {% if results != [] %}
  <ul>
    {% for result in results %}
    <li style="text-transform: uppercase"><a href="/{{ result[1] }}/{{ result[0] }}">{{ result[1] }} - {{ result[0] }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No albums match your search query</p>
  {% endif %}
{% endif %}

<h2>Add a new album</h2>

<form action="/new_album">
  <p>
    <input type="submit" value="Add a new album" />
  </p>
</form>
{% endblock %}