{% extends "layout.html" %}

{% block title %}Search albums{% endblock %}

{% block content %}
<form action="/albumsearch" method="post">
  <p>
    <label for="album">Album title</label>: <br />
    <input type="text" name="album" id="album" maxlength="1000" />
  <input type="submit" value="Search" />
</form>
{% if results %}
<ul>
  {% for result in results %}
  <li style="text-transform: uppercase"><a href="/{{ result[1] + '/' + result[0] }}">{{ result[1] }} - {{ result[0] }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<h2>Add a new album</h2>

<form action="/new_album">
  <p>
    <input type="submit" value="Add a new album" />
  </p>
</form>
{% endblock %}