{% extends "layout.html" %}

{% block title %}Search albums{% endblock %}

{% block content %}
<form action="/albumsearch" method="post">
  <p>
    <label for="album">Album title</label>: <br />
    <input type="text" name="album" id="album" value="{{ filled.album }}" maxlength="1000" />
  </p>
  <p>
    <label for="artist">Artist</label>: <br />
    <input type="text" name="artist" id="artist" value="{{ filled.artist }}" maxlength="1000" />
  </p>
  <p>
    <label for="genre">Genre</label>: <br />
    <input type="text" name="genre" id="genre" value="{{ filled.genre }}" maxlength="1000" />
  </p>
  <p>
    <label for="year">Release year</label>: <br />
    <input type="text" name="year" id="year" size="8" value="{{ filled.year }}" pattern="[0-9]{4}" />
  </p>
  <input type="submit" value="Search" />
  <input type="hidden" name="page" value="{{ page }}" />
</form>
{% if results != None %}
  {% if results != [] %}
  <h3>Search results:</h3>
  <ul>
    {% for obj in album_obj %}
    <li style="text-transform: uppercase"><a href="/{{ obj[2] }}/{{ obj[0] }}">{{ obj[2] }} - {{ obj[0] }}</a></li>
    {% endfor %}
  </ul>
  <div id="pagination">
    {% if page_count > 1 %}
    <p>
      <form action="/albumsearch" method="post">
        <input type="submit" value="&lt;" />
        <input type="hidden" name="page" value="{{ page - 1 }}" />
        <input type="hidden" name="album" value="{{ filled.album }}" />
        <input type="hidden" name="artist" value="{{ filled.artist}}" />
        <input type="hidden" name="genre" value="{{ filled.genre }}" />
        <input type="hidden" name="year" value="{{ filled.year }}" />
      </form>
      Page {{ page }}/{{ page_count}}
      <form action="/albumsearch" method="post">
        <input type="submit" value="&gt;" />
        <input type="hidden" name="page" value="{{ page + 1 }}" />
        <input type="hidden" name="album" value="{{ filled.album }}" />
        <input type="hidden" name="artist" value="{{ filled.artist}}" />
        <input type="hidden" name="genre" value="{{ filled.genre }}" />
        <input type="hidden" name="year" value="{{ filled.year }}" />
      </form>
    </p>
    {% endif %}
  </div>
  {% else %}
  <p>No albums match your search query</p>
  {% endif %}
{% endif %}

{% if session.username %}

<h2>Add a new album</h2>

<form action="/new_album">
  <p>
    <input type="submit" value="Add a new album" />
  </p>
</form>

{% endif %}
{% endblock %}