{% extends "layout.html" %}

{% block content %}
<h2 style="text-transform: uppercase">{{ album_data["artist"] }} - {{ album_data["album"] }}</h2>
<h3>Album info:</h3>

<h4>Released:</h4>
<p>
  {{ album_data["year"] }}
</p>

<h4>Track list:</h4>
<p>
  {{ album_data["songlist"] | show_lines }}
</p>

<h4>Genres:</h4>
<p>
  {% for genre in album_data["genres"] %}
    {{ genre }}<br />
  {% endfor %}
</p>

{% if session.user_id %}
<h3>Actions:</h3>
<p>
  <a href="/{{ album_data['artist'] }}/{{ album_data['album'] }}/edit">Edit album</a>
  <a href="/{{ album_data['artist'] }}/{{ album_data['album'] }}/review">Review this album</a>
</p>
{% endif %}

{% if reviews %}

<h3>Reviews of this album:</h3>
{% if review_count == 1 %}
<p>There is one review for this album.</p>
{% else %}
<p>There are {{ review_count }} reviews for this album.</p>
{% endif %}
<p>The average for the reviews is {{ review_average }}.</p>

<p>
  <ul>
  {% for review in reviews %}
    <li><a href="/{{ album_data['artist'] }}/{{ album_data['album'] }}/{{ review[0] }}">{{ review[5] }}/5</a>
    by <a href="/{{ review[1] }}">{{ review[2] }}</a>
    at {{ review[6] }}{% if review[7] != None %},
    edited at {{ review[7] }}{% endif %}</li>
  {% endfor %}
  </ul>
</p>
{% if page_count > 1 %}
<div id="pagination">
  <p>
    <form action="/{{ album_data['artist'] }}/{{ album_data['album'] }}" method="post">
      <input type="submit" value="&lt;" />
      <input type="hidden" name="page" value="{{ page - 1 }}" />
    </form>
    Page {{ page }}/{{ page_count}}
    <form action="/{{ album_data['artist'] }}/{{ album_data['album'] }}" method="post">
      <input type="submit" value="&gt;" />
      <input type="hidden" name="page" value="{{ page + 1 }}" />
    </form>
  </p>
</div>
{% endif %}

{% endif %}

{% endblock %}