{% extends "layout.html" %}

{% block title %}{{ username }}'s review of <a href="/{{ artist }}/{{ album }}" style="text-transform: uppercase">{{ artist }} - {{ album }}</a>{% endblock %}

{% block content %}
<p>
  Submitted at {{ review[3] }}{% if review[4] != None %}, edited at {{ review[4] }}
  {% endif %}
</p>

<p>
  {{ review.content | show_lines }}
</p>
<p>
  Grade: {{ review.grade }}/5
</p>

{% if session.user_id == review.user_id %}
<p>
  <a href="/{{ artist }}/{{ album }}/{{ review_id }}/edit">Edit review</a>
  <a href="/{{ artist }}/{{ album }}/{{ review_id }}/delete">Delete review</a>
</p>
{% endif %}

{% endblock %}