{% extends "layout.html" %}

{% block content %}
<h2 style="text-transform: uppercase">{{ artist }} - {{ album }}</h2>
<h3>Album info:</h3>

<h4>Released:</h4>
<p>
  {{ year }}
</p>

<h4>Track list:</h4>
<p>
  {{ songlist | show_lines }}
</p>

<h4>Genres:</h4>
<p>
  {% for genre in genres %}
    {{ genre }}<br />
  {% endfor %}
</p>

{% if session.user_id %}
<h3>Actions:</h3>
<p>
  <a href="/{{ artist }}/{{ album }}/edit">Edit album</a>
  <a href="/{{ artist }}/{{ album }}/review">Review this album</a>
</p>
{% endif %}

{% if reviews %}

<h3>Reviews of this album:</h3>
{% if review_count == 1 %}
<p>There is one review for this album.</p>
{% else %}
<p>There are {{ review_count }} reviews for this album.</p>
{% endif %}
<p>The average for the reviews is {{ review_average }}.</p>

<p>
  <ul>
  {% for review in reviews %}
    <li><a href="/{{ artist }}/{{ album }}/{{ review[2] }}">{{ review[0][2] }}/5</a>
    by <a href="/{{ review[0][0] }}">{{ review[1] }}</a>
    at {{ review[0][3] }}{% if review[0][4] != None %},
    edited at {{ review[0][4] }}{% endif %}</li>
  {% endfor %}
  </ul>
</p>

{% endif %}

{% endblock %}